.datePickerContainer {
    position: relative;
}

.datePickerField { 
    position: relative;
    border: none;
    height: 1.20rem;
    width: 180px;
    background-color: white;
    cursor: pointer;
    border-bottom: 2px solid grey;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 0.5rem;
}

.openDatePicker {
    border-color: var(--action-color);
}


.datePickerShowContainer {
    position: absolute;
    top: 0.4rem;
}

.calenderIcon {
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
}

.datePickerWrapper {
    position: absolute;
    top: 2.5rem;
    z-index: 1;
}